.footer__container {
  background: rgba(0, 0, 0, 0.3);
  margin-top: 2rem;
  padding: 0.5rem 0;
  color: var(--color-primary-variant);
}

.footer__cr {
  display: flex;
  justify-content: center;
  align-items: center;
}